* {
  margin: 0;
  padding: 0;
  font-family: century gothic;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://raw.githubusercontent.com/akshita9599/Design-your-office/main/office.jpg),
    url("file:///C:/Users/Admin/Downloads/images/perfec.jpeg");

  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 2px solid transparent;
  transition: 0.6s ease;
}
ulliali: hover {
  background-color: #fff;
  color: #000;
}
ul li a:hover {
  background-color: #fff;
  color: #000;
}
ul li.active a {
  background-color: #fff;
  color: #000;
}
.logo img {
  float: left;
  width: 100px;
  height: 50px;
}

.main {
  max-width: 1200px;
  margin: auto;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: #ffd9b3;
  font-size: 30px;
}
.button {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  boder: ipx solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover {
  background-color: #fff;
  color: #000;
}
.dropdown {
  margin: o auto;
}
header ul {
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin: 6px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
